{% extends "base.html.twig" %}

{% block title %}{{ parent() ~ "Articles" }}{% endblock %}

{% block content %}
    <div style="text-align: center;">
       <h1>Liste des articles publiés</h1>
       
        
            <table>
                <thead>
                    <th>Titre</th>
                    <th>Date de création</th>
                    <th>Auteur</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                   
                </thead>
                {% for post in posts %}
                <tbody>
                    <td><a href="{{ path('post', {'id': post.id}) }}">{{ post.title }}</a></td>
                    <td>{{ post.createdAt|date ("d/m/Y H:i") }}</td>
                    <td>{{ post.user.email }}</td>
                    <td><a href="{{ path('modify_post', {'id': post.id}) }}">Modifier</a></td>
                    {% if is_granted('ROLE_ADMIN') or app.user.id == post.user.id %}
                    <td><a href="{{ path('delete_post', {'id': post.id, _csrf_token: csrf_token('delete')}) }}">Supprimer</a></td>
                    {% endif %}
                </tbody>
                {% endfor %}
            </table>
        
        <a href="{{ path('add_post') }}" role="button">
                    <i class="fa fa-th-large"></i>
                    Rédiger un nouvel article
        </a>
    </div>
    
{% endblock %}